@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f6f0eb;
}

#drawn-number span,
h1 {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  margin: 0.5em;
}

h1 {
  text-align: center;
  color: #f09038;
  text-shadow: 0.5px 1px 1px #00000025;
}

.main-container {
  max-width: 1500px;
  margin: 0 auto;
}

.main-board {
  display: flex;
}

button {
  margin: 2em;
  padding: 1.5em 4em;
  background-color: #f09038;
  font-weight: 900;
  font-size: 1em;
  color: #f6f0eb;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  box-shadow: 0 4px 0 -1px #7e4d1e;
}

#cartellone-tombola {
  width: 1000px;
  height: 300px;
}

#drawn-number {
  text-align: center;
}

.numeri {
  border-radius: 100%;
  display: inline-flex;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: #e9ddd2;
  justify-content: center;
  align-items: center;
  box-shadow: inset 1px 1px 2px #00000015;
}

.testo-numeri {
  font-size: 2em;
  font-weight: 900;
  color: #f6f0eb;
  margin: 0;
  text-shadow: 0.5px 1px 1px #00000025;
}

.drawn-number {
  background-color: #ff3300;
}

#drawn-number span {
  font-size: 5em;
}
